<h1><%= t('bling_module_situations.edit') %></h1>

<%= render 'form', bling_module_situation: @bling_module_situation %>

<%= link_to t('show'), @bling_module_situation %> |
<%= link_to t('back'), bling_module_situations_path %>
