---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?idsSituacoes%5B%5D=12&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":19195301106,"numero":51764,"numeroLoja":"GSHNAT29M0021SF","data":"2023-11-24","dataSaida":"2023-11-24","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16442925049,"nome":"Faker
        Name Souza","tipoPessoa":"F","numeroDocumento":"999.999.999-99"},"situacao":{"id":12,"valor":2},"loja":{"id":204219105}},{"id":19194637446,"numero":51702,"numeroLoja":"231125FU62HPB5","data":"2023-11-24","dataSaida":"2023-11-24","dataPrevista":"2023-12-12","totalProdutos":64.9,"total":77.52,"contato":{"id":16442753194,"nome":"H******s","tipoPessoa":"J","numeroDocumento":""},"situacao":{"id":12,"valor":2},"loja":{"id":203737982}},{"id":19194491507,"numero":51687,"numeroLoja":"231125FTD1FFTK","data":"2023-11-24","dataSaida":"2023-11-24","dataPrevista":"2023-12-06","totalProdutos":64.9,"total":64.77[...]
