---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?dataAlteracaoFinal=2023-08-16&dataAlteracaoInicial=2023-08-15&idsSituacoes%5B%5D=24&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":18609813229,"numero":23130,"numeroLoja":"GSHNRC41000M2GB","data":"2023-08-15","dataSaida":"2023-08-15","dataPrevista":"0000-00-00","totalProdutos":73.9,"total":73.9,"contato":{"id":16279016511,"nome":"Aparecida
        Concei\u00e7\u00e3o do nascimento","tipoPessoa":"F","numeroDocumento":"377.726.648-50"},"situacao":{"id":24,"valor":11},"loja":{"id":204219105}},{"id":18609813108,"numero":23129,"numeroLoja":"GSHNR351R00METN","data":"2023-08-15","dataSaida":"2023-08-15","dataPrevista":"0000-00-00","totalProdutos":109.8,"total":109.8,"contato":{"id":16279016495,"nome":"Vanessa
        Dos Santos Lopes De Freitas","tipoPessoa":"F","numeroDocumento":"113.791.257-07"},"situacao":{"id":24,"valor":11},"loja":{"id":204219105}},{"id":18609711292,"numero":23127,"numeroLoja":"GSHNRC58R00NHUF","data":"2023-08-15","dataSaida":"2023-08-15","dataPrev[...]
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?dataAlteracaoFinal=2023-08-17&dataAlteracaoInicial=2023-08-16&idsSituacoes%5B%5D=24&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"type":"TOO_MANY_REQUESTS","message":"Limite de requisi\u00e7\u00f5es
        atingido.","description":"O limite de requisi\u00e7\u00f5es por segundo foi
        atingido, tente novamente mais tarde."}}'
  recorded_at: Wed, 15 Nov 2023 19:18:02 GMT
[...]
