---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?idsSituacoes%5B%5D=15&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":18971028142,"numero":32746,"numeroLoja":"GSHN9W459000J46","data":"2023-10-19","dataSaida":"2023-10-19","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16380027484,"nome":"Nat\u00e1lia
        Franco Feitoza","tipoPessoa":"F","numeroDocumento":"102.656.743-28"},"situacao":{"id":15,"valor":3},"loja":{"id":204219105}},{"id":18970894351,"numero":32745,"numeroLoja":"GSHN9W23900ME7W","data":"2023-10-19","dataSaida":"2023-10-19","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16380000371,"nome":"Nicole
        Galbier","tipoPessoa":"F","numeroDocumento":"397.511.768-08"},"situacao":{"id":15,"valor":3},"loja":{"id":204219105}},{"id":18970894192,"numero":32744,"numeroLoja":"GSHN9W59S00236R","data":"2023-10-19","dataSaida":"2023-10-19","dataPrevista":"0000-00-00","tota[...]
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas/18971028142
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":18971028142,"numero":32746,"numeroLoja":"GSHN9W459000J46","data":"2023-10-19","dataSaida":"2023-10-19","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16380027484,"nome":"Nat\u00e1lia
        Franco Feitoza","tipoPessoa":"F","numeroDocumento":"102.656.743-28"},"situacao":{"id":15,"valor":3},"loja":{"id":204219105},"numeroPedidoCompra":"","outrasDespesas":0,"observacoes":"","observacoesInternas":"","desconto":{"valor":0,"unidade":"REAL"},"categoria":{"id":0},"notaFiscal":{"id":0},"tributacao":{"totalICMS":0,"totalIPI":0},"itens":[{"id":16241066979,"codigo":"VEST-LONG-TOP-SAI-FEND-VERMELHO-PP","unidade":"1","quantidade":1,"desconto":0,"valor":40.7,"aliquotaIPI":0,"descricao":"Vestido
        LONGO top + saia fenda Cor:Vermelho;Tamanho:PP","descricaoDetalhada":"","produto":{"id":15973680261},"comissao":{"base":40.7,"aliquota":0,"valor":0}}],"parcelas":[{"id":16447147718,"dataVencimento":"2023-11-18","valor":40.7,"observacoes":"","formaPagamento":{"id":1135275}}],"transporte":{"fretePorConta":0,"frete":0,"quantidadeVolumes":0,"pesoBruto":0,"prazoEntrega":0,"contato":{"id":0,"nome":""},"etiqueta":{"nome":"Nat\u00e1lia
        Franco Feitoza","endereco":"Rua Argentina- at\u00e9 2998\/2999","numero":"2917","complemento":"","municipio":"Barretos","uf":"SP","cep":"14783192","bairro":"Am\u00e9rica","nomePais":""},"volumes":[]},"vendedor":{"id":0},"intermediador":{"cnpj":"","nomeUsuario":""}}}'
  recorded_at: Thu, 19 Oct 2023 12:37:38 GMT
[...]
