---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?idsSituacoes%5B%5D=95745&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":19191688711,"numero":51473,"numeroLoja":"231124FBTY11HB","data":"2023-11-24","dataSaida":"2023-11-24","dataPrevista":"2023-12-08","totalProdutos":45.9,"total":51.64,"contato":{"id":16441948487,"nome":"Faker
        Name Souza","tipoPessoa":"F","numeroDocumento":""},"situacao":{"id":95745,"valor":0},"loja":{"id":203737982}},{"id":19191637103,"numero":51472,"numeroLoja":"231124FBJNTJBF","data":"2023-11-24","dataSaida":"2023-11-24","dataPrevista":"2023-12-07","totalProdutos":45.9,"total":45.9,"contato":{"id":16441937767,"nome":"Faker
        Name Souza","tipoPessoa":"F","numeroDocumento":""},"situacao":{"id":95745,"valor":0},"loja":{"id":203737982}},{"id":19191607006,"numero":51465,"numeroLoja":"231124FBEP1YMW","data":"2023-11-24","dataSaida":"2023-11-24","dataPrevista":"2023-12-11","totalProdutos":[...]
