---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?idsSituacoes%5B%5D=94871&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":19191617135,"numero":51470,"numeroLoja":"GSHNAQ49900M2NX","data":"2023-11-24","dataSaida":"2023-11-24","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16441933162,"nome":"Faker
        Name Souza","tipoPessoa":"F","numeroDocumento":"999.999.999-99"},"situacao":{"id":94871,"valor":0},"loja":{"id":204219105}},{"id":19191616623,"numero":51469,"numeroLoja":"GSHNAQ179000S4D","data":"2023-11-24","dataSaida":"2023-11-24","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16389102495,"nome":"Faker
        Name Souza","tipoPessoa":"F","numeroDocumento":"999.999.999-99"},"situacao":{"id":94871,"valor":0},"loja":{"id":204219105}},{"id":19191616080,"numero":51468,"numeroLoja":"GSHNAQ31S00NF54","data":"2023-11-24","dataSaida":"2023-11-24","dataPrevista":"0000-00-00",[...]
