---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?idsSituacoes%5B%5D=15&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":18971174289,"numero":32749,"numeroLoja":"GSHN9W649001E0F","data":"2023-10-19","dataSaida":"2023-10-19","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16380056993,"nome":"Monique
        \u00c1vila","tipoPessoa":"F","numeroDocumento":"149.575.534-75"},"situacao":{"id":15,"valor":3},"loja":{"id":204219105}},{"id":18971174063,"numero":32748,"numeroLoja":"GSHN9W409002CEQ","data":"2023-10-19","dataSaida":"2023-10-19","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16380056966,"nome":"Jos\u00e9lia
        Freitas","tipoPessoa":"F","numeroDocumento":"090.777.573-09"},"situacao":{"id":15,"valor":3},"loja":{"id":204219105}},{"id":18971173898,"numero":32747,"numeroLoja":"GSHN9W3490016UN","data":"2023-10-19","dataSaida":"2023-10-19","dataPrevista":"0000-00-00"[...]
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas/18971174289
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":18971174289,"numero":32749,"numeroLoja":"GSHN9W649001E0F","data":"2023-10-19","dataSaida":"2023-10-19","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16380056993,"nome":"Monique
        \u00c1vila","tipoPessoa":"F","numeroDocumento":"149.575.534-75"},"situacao":{"id":15,"valor":3},"loja":{"id":204219105},"numeroPedidoCompra":"","outrasDespesas":0,"observacoes":"","observacoesInternas":"","desconto":{"valor":0,"unidade":"REAL"},"categoria":{"id":0},"notaFiscal":{"id":0},"tributacao":{"totalICMS":0,"totalIPI":0},"itens":[{"id":16241129438,"codigo":"VEST-LONG-TOP-SAI-FEND-PRETO-P","unidade":"1","quantidade":1,"desconto":0,"valor":40.7,"aliquotaIPI":0,"descricao":"Vestido
        LONGO top + saia fenda Cor:Preto;Tamanho:P","descricaoDetalhada":"","produto":{"id":15957707537},"comissao":{"base":40.7,"aliquota":0,"valor":0}}],"parcelas":[{"id":16447204072,"dataVencimento":"2023-11-18","valor":40.7,"observacoes":"","formaPagamento":{"id":1135275}}],"transporte":{"fretePorConta":0,"frete":0,"quantidadeVolumes":0,"pesoBruto":0,"prazoEntrega":0,"contato":{"id":0,"nome":""},"etiqueta":{"nome":"Monique
        \u00c1vila","endereco":"3* travessa rua Josu\u00e9 Vicente","numero":"116","complemento":"","municipio":"Primavera","uf":"PE","cep":"55510000","bairro":"Centro","nomePais":""},"volumes":[]},"vendedor":{"id":0},"intermediador":{"cnpj":"","nomeUsuario":""}}}'
  recorded_at: Thu, 19 Oct 2023 12:51:22 GMT
[...]
