---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?dataAlteracaoFinal=2023-08-16&dataAlteracaoInicial=2023-08-15&idsSituacoes%5B%5D=101065&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[]}'
  recorded_at: Wed, 15 Nov 2023 16:58:33 GMT
[...]
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?dataAlteracaoFinal=2023-08-22&dataAlteracaoInicial=2023-08-21&idsSituacoes%5B%5D=101065&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":18621253255,"numero":23242,"numeroLoja":"GSHNRQ333001ADD","data":"2023-08-16","dataSaida":"2023-08-16","dataPrevista":"0000-00-00","totalProdutos":109.8,"total":109.8,"contato":{"id":16282043850,"nome":"Nicolly
        Vidal","tipoPessoa":"F","numeroDocumento":"704.414.276-18"},"situacao":{"id":101065,"valor":0},"loja":{"id":204219105}},{"id":18619111016,"numero":23211,"numeroLoja":"GSHNRQ54M001NGH","data":"2023-08-16","dataSaida":"2023-08-16","dataPrevista":"0000-00-00","totalProdutos":83.9,"total":83.9,"contato":{"id":16281438969,"nome":"Marivalda
        Silva","tipoPessoa":"F","numeroDocumento":"996.832.614-34"},"situacao":{"id":101065,"valor":0},"loja":{"id":204219105}},{"id":18615380393,"numero":23189,"numeroLoja":"GSHNR459Q0012PJ","data":"2023-08-15","dataSaida":"2023-08-15","dataPrevista":"0000-00-00",[...]
[...]
