---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?dataAlteracaoFinal=2024-01-14&dataAlteracaoInicial=2024-01-13&idsSituacoes%5B%5D=173631&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[]}'
  recorded_at: Mon, 15 Jan 2024 14:58:46 GMT
[...]
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?dataAlteracaoFinal=2024-01-16&dataAlteracaoInicial=2024-01-15&idsSituacoes%5B%5D=173631&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":19508913684,"numero":68445,"numeroLoja":"GSHNBH59C000JLX","data":"2024-01-12","dataSaida":"2024-01-12","dataPrevista":"0000-00-00","totalProdutos":37.9,"total":37.9,"contato":{"id":16527510154,"nome":"Faker
        Name Souza","tipoPessoa":"F","numeroDocumento":"999.999.999-99"},"situacao":{"id":173631,"valor":0},"loja":{"id":204219105}}]}'
  recorded_at: Mon, 15 Jan 2024 14:58:48 GMT
recorded_with: VCR 6.2.0
