---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?idsSituacoes%5B%5D=94871&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
        - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"type":"TOO_MANY_REQUESTS","message":"Limite de requisi\u00e7\u00f5es
        atingido.","description":"O limite de requisi\u00e7\u00f5es por segundo foi
        atingido, tente novamente mais tarde."}}'

  recorded_at: Wed, 06 Dec 2023 18:47:22 GMT
[...]
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?idsSituacoes%5B%5D=94871&limite=100&pagina=8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":19247549169,"numero":57326,"numeroLoja":"GSHNAR35Y00NLEK","data":"2023-12-02","dataSaida":"2023-12-02","dataPrevista":"0000-00-00","totalProdutos":46.7,"total":46.7,"contato":{"id":16457693158,"nome":"Faker
        Name Souza","tipoPessoa":"F","numeroDocumento":"999.999.999-99"},"situacao":{"id":94871,"valor":0},"loja":{"id":204219105}},{"id":19247482296,"numero":57323,"numeroLoja":"GSHNAR36X001AKG","data":"2023-12-02","dataSaida":"2023-12-02","dataPrevista":"0000-00-00","totalProdutos":62.9,"total":62.9,"contato":{"id":16457684650,"nome":"Faker
        Name Souza","tipoPessoa":"F","numeroDocumento":"999.999.999-99"},"situacao":{"id":94871,"valor":0},"loja":{"id":204219105}},{"id":19247446145,"numero":57314,"numeroLoja":"GSHNAR49600044P","data":"2023-12-02","dataSaida":"2023-12-02","dataPrevista":"0000-00-00",[...]
