---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?idsSituacoes%5B%5D=15&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":19091694773,"numero":40654,"numeroLoja":"2311096KNUKF7G","data":"2023-11-09","dataSaida":"2023-11-09","dataPrevista":"2023-11-21","totalProdutos":59.9,"total":59.9,"contato":{"id":16413494635,"nome":"Julia
        De Souza Gon\u00e7alves Verdadeiro","tipoPessoa":"F","numeroDocumento":"524.352.518-90"},"situacao":{"id":15,"valor":3},"loja":{"id":203737982}},{"id":19091656208,"numero":40653,"numeroLoja":"17067I17064","data":"2023-11-09","dataSaida":"2023-11-09","dataPrevista":"0000-00-00","totalProdutos":69.9,"total":89.9,"contato":{"id":16413486994,"nome":"Geovanna
        Almeida","tipoPessoa":"F","numeroDocumento":"524.959.128-00"},"situacao":{"id":15,"valor":3},"loja":{"id":203467890}},{"id":19091628455,"numero":40651,"numeroLoja":"GSHN9J43R001PNY","data":"2023-11-09","dataSaida":"2023-11-09","dataPrevista":"0000-00-00","totalP[...]
[...]
