---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?idsSituacoes%5B%5D=15&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":18961151321,"numero":32339,"numeroLoja":"2310187WTME3JU","data":"2023-10-17","dataSaida":"2023-10-17","dataPrevista":"2023-10-30","totalProdutos":99.8,"total":99.8,"contato":{"id":16377367578,"nome":"Luana
        Jeane","tipoPessoa":"F","numeroDocumento":""},"situacao":{"id":15,"valor":3},"loja":{"id":203737982}},{"id":18961137415,"numero":32338,"numeroLoja":"GSHN9C0410024PQ","data":"2023-10-17","dataSaida":"2023-10-17","dataPrevista":"0000-00-00","totalProdutos":59.9,"total":59.9,"contato":{"id":16377363702,"nome":"Bruna
        Fernandes","tipoPessoa":"F","numeroDocumento":"080.284.459-69"},"situacao":{"id":15,"valor":3},"loja":{"id":204219105}},{"id":18961136912,"numero":32337,"numeroLoja":"GSHN9C19100N9X8","data":"2023-10-17","dataSaida":"2023-10-17","dataPrevista":"0000-00-00","tot[...]
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?idsSituacoes%5B%5D=15&limite=100&pagina=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":18944431599,"numero":31687,"numeroLoja":"16847I16844","data":"2023-10-14","dataSaida":"2023-10-14","dataPrevista":"0000-00-00","totalProdutos":49.9,"total":60.25,"contato":{"id":16372639901,"nome":"Yasmin
        Santana","tipoPessoa":"F","numeroDocumento":"468.016.208-27"},"situacao":{"id":15,"valor":3},"loja":{"id":203467890}},{"id":18944019362,"numero":31661,"numeroLoja":"16846I16843","data":"2023-10-14","dataSaida":"2023-10-14","dataPrevista":"0000-00-00","totalProdutos":59.9,"total":75.02,"contato":{"id":16206338808,"nome":"paloma
        Borges","tipoPessoa":"F","numeroDocumento":"069.338.325-97"},"situacao":{"id":15,"valor":3},"loja":{"id":203467890}}]}'
  recorded_at: Tue, 17 Oct 2023 20:17:14 GMT
[...]
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas/18961151321
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":18961151321,"numero":32339,"numeroLoja":"2310187WTME3JU","data":"2023-10-17","dataSaida":"2023-10-17","dataPrevista":"2023-10-30","totalProdutos":99.8,"total":99.8,"contato":{"id":16377367578,"nome":"Luana
        Jeane","tipoPessoa":"F","numeroDocumento":""},"situacao":{"id":15,"valor":3},"loja":{"id":203737982},"numeroPedidoCompra":"","outrasDespesas":0,"observacoes":"","observacoesInternas":"","desconto":{"valor":0,"unidade":"REAL"},"categoria":{"id":0},"notaFiscal":{"id":0},"tributacao":{"totalICMS":0,"totalIPI":0},"itens":[{"id":16236254129,"codigo":"VEST-LONG-TOP-SAI-FEND-PRETO-PP","unidade":"1","quantidade":1,"desconto":0,"valor":49.9,"aliquotaIPI":0,"descricao":"Vestido
        LONGO top + saia fenda Cor:Preto;Tamanho:PP","descricaoDetalhada":"","produto":{"id":15957707535},"comissao":{"base":49.9,"aliquota":0,"valor":0}},{"id":16236254130,"codigo":"VEST-LONG-TOP-SAI-FEND-NUDE-PP","unidade":"1","quantidade":1,"desconto":0,"valor":49.9,"aliquotaIPI":0,"descricao":"Vestido
        LONGO top + saia fenda Cor:Nude;Tamanho:PP","descricaoDetalhada":"","produto":{"id":16098394424},"comissao":{"base":49.9,"aliquota":0,"valor":0}}],"parcelas":[{"id":16442704720,"dataVencimento":"2023-11-16","valor":99.8,"observacoes":"","formaPagamento":{"id":1135275}}],"transporte":{"fretePorConta":0,"frete":0,"quantidadeVolumes":1,"pesoBruto":0,"prazoEntrega":0,"contato":{"id":0,"nome":""},"etiqueta":{"nome":"Luana
        Jeane","endereco":"Rua Anhanguera","numero":"64","complemento":"casa","municipio":"Santa
        Luzia","uf":"MG","cep":"33130370","bairro":"S\u00e3o Cosme de Cima (S\u00e3o
        Benedito)","nomePais":""},"volumes":[{"id":15234608900,"servico":"Logistica
        Shopee","codigoRastreamento":""}]},"vendedor":{"id":0},"intermediador":{"cnpj":"35.635.824\/0001-12","nomeUsuario":"372186496"}}}'
  recorded_at: Tue, 17 Oct 2023 20:17:16 GMT
[...]
