---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?idsSituacoes%5B%5D=95745&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":18970670379,"numero":32742,"numeroLoja":"GSHN9W51S00MY0N","data":"2023-10-19","dataSaida":"2023-10-19","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16379951219,"nome":"Irlane
        Sodre","tipoPessoa":"F","numeroDocumento":"611.631.193-85"},"situacao":{"id":95745,"valor":0},"loja":{"id":204219105}},{"id":18970670276,"numero":32741,"numeroLoja":"GSHN9W33S0011DN","data":"2023-10-19","dataSaida":"2023-10-19","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16379951203,"nome":"Rosiane
        Maria","tipoPessoa":"F","numeroDocumento":"829.015.201-97"},"situacao":{"id":95745,"valor":0},"loja":{"id":204219105}},{"id":18970518805,"numero":32740,"numeroLoja":"GSHN9W44S001N6T","data":"2023-10-19","dataSaida":"2023-10-19","dataPrevista":"0000-00-00","to[...]
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas/18970670379
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":18970670379,"numero":32742,"numeroLoja":"GSHN9W51S00MY0N","data":"2023-10-19","dataSaida":"2023-10-19","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16379951219,"nome":"Irlane
        Sodre","tipoPessoa":"F","numeroDocumento":"611.631.193-85"},"situacao":{"id":95745,"valor":0},"loja":{"id":204219105},"numeroPedidoCompra":"","outrasDespesas":0,"observacoes":"","observacoesInternas":"","desconto":{"valor":0,"unidade":"REAL"},"categoria":{"id":0},"notaFiscal":{"id":18970790376},"tributacao":{"totalICMS":0,"totalIPI":0},"itens":[{"id":16240923746,"codigo":"VEST-LONG-TOP-SAI-FEND-VERMELHO-PP","unidade":"1","quantidade":1,"desconto":0,"valor":40.7,"aliquotaIPI":0,"descricao":"Vestido
        LONGO top + saia fenda Cor:Vermelho;Tamanho:PP","descricaoDetalhada":"","produto":{"id":15973680261},"comissao":{"base":40.7,"aliquota":0,"valor":0}}],"parcelas":[{"id":16447012434,"dataVencimento":"2023-11-18","valor":40.7,"observacoes":"","formaPagamento":{"id":1135275}}],"transporte":{"fretePorConta":0,"frete":0,"quantidadeVolumes":0,"pesoBruto":0,"prazoEntrega":0,"contato":{"id":0,"nome":""},"etiqueta":{"nome":"Irlane
        Sodre","endereco":"Avenida 1 nova sepetiba primeiro conjunto Santa Cruz","numero":"247","complemento":"","municipio":"Rio
        de Janeiro","uf":"RJ","cep":"23520660","bairro":"Santa Cruz","nomePais":""},"volumes":[]},"vendedor":{"id":0},"intermediador":{"cnpj":"","nomeUsuario":""}}}'
  recorded_at: Thu, 19 Oct 2023 12:45:43 GMT
[...]
