---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?idsSituacoes%5B%5D=15&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":18932090948,"numero":31122,"numeroLoja":"GSHN9061C000T4H","data":"2023-10-11","dataSaida":"2023-10-11","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16368790942,"nome":"Lorena
        Melo de Paiva","tipoPessoa":"F","numeroDocumento":"708.133.521-77"},"situacao":{"id":15,"valor":3},"loja":{"id":204219105}},{"id":18932090914,"numero":31121,"numeroLoja":"GSHN9024C00NRA7","data":"2023-10-11","dataSaida":"2023-10-11","dataPrevista":"0000-00-00","totalProdutos":81.4,"total":81.4,"contato":{"id":16368790934,"nome":"Kayllane
        vit\u00f3ri Xavier","tipoPessoa":"F","numeroDocumento":"187.840.257-94"},"situacao":{"id":15,"valor":3},"loja":{"id":204219105}},{"id":18932090863,"numero":31120,"numeroLoja":"GSHN9023C00NR17","data":"2023-10-11","dataSaida":"2023-10-11","dataPrevista":"0000[...]
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?idsSituacoes%5B%5D=15&limite=100&pagina=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[]}'
  recorded_at: Wed, 11 Oct 2023 22:57:55 GMT
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas/18932090948
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":18932090948,"numero":31122,"numeroLoja":"GSHN9061C000T4H","data":"2023-10-11","dataSaida":"2023-10-11","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16368790942,"nome":"Lorena
        Melo de Paiva","tipoPessoa":"F","numeroDocumento":"708.133.521-77"},"situacao":{"id":15,"valor":3},"loja":{"id":204219105},"numeroPedidoCompra":"","outrasDespesas":0,"observacoes":"","observacoesInternas":"","desconto":{"valor":0,"unidade":"REAL"},"categoria":{"id":0},"notaFiscal":{"id":0},"tributacao":{"totalICMS":0,"totalIPI":0},"itens":[{"id":16221214417,"codigo":"VEST-LONG-TOP-SAI-FEND-PRETO-P","unidade":"1","quantidade":1,"desconto":0,"valor":40.7,"aliquotaIPI":0,"descricao":"Vestido
        LONGO top + saia fenda Cor:Preto;Tamanho:P","descricaoDetalhada":"","produto":{"id":15957707537},"comissao":{"base":40.7,"aliquota":0,"valor":0}}],"parcelas":[{"id":16428350149,"dataVencimento":"2023-11-10","valor":40.7,"observacoes":"","formaPagamento":{"id":1135275}}],"transporte":{"fretePorConta":0,"frete":0,"quantidadeVolumes":0,"pesoBruto":0,"prazoEntrega":0,"contato":{"id":0,"nome":""},"etiqueta":{"nome":"Lorena
        Melo de Paiva","endereco":"Rua Marechal Deodoro da Fonseca","numero":"12","complemento":"","municipio":"Mara
        Rosa","uf":"GO","cep":"76490000","bairro":"Centro setor Oeste","nomePais":""},"volumes":[]},"vendedor":{"id":0},"intermediador":{"cnpj":"","nomeUsuario":""}}}'
  recorded_at: Wed, 11 Oct 2023 22:57:56 GMT
[...]
