---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?idsSituacoes%5B%5D=94871&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":18964504312,"numero":32495,"numeroLoja":"GSHN9C18900N9NR","data":"2023-10-18","dataSaida":"2023-10-18","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16378351011,"nome":"Maria
        Fernanda Vendruscolo","tipoPessoa":"F","numeroDocumento":"031.200.650-05"},"situacao":{"id":94871,"valor":0},"loja":{"id":204219105}},{"id":18964269412,"numero":32493,"numeroLoja":"GSHN9C59900N3DS","data":"2023-10-18","dataSaida":"2023-10-18","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16378306488,"nome":"Myllena
        Santos azevedo da Silva","tipoPessoa":"F","numeroDocumento":"202.313.967-83"},"situacao":{"id":94871,"valor":0},"loja":{"id":204219105}},{"id":18964269241,"numero":32492,"numeroLoja":"GSHN9C20900MF2N","data":"2023-10-18","dataSaida":"2023-10-18","dataPrevista[...]
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas/18964504312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":18964504312,"numero":32495,"numeroLoja":"GSHN9C18900N9NR","data":"2023-10-18","dataSaida":"2023-10-18","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16378351011,"nome":"Maria
        Fernanda Vendruscolo","tipoPessoa":"F","numeroDocumento":"031.200.650-05"},"situacao":{"id":94871,"valor":0},"loja":{"id":204219105},"numeroPedidoCompra":"","outrasDespesas":0,"observacoes":"","observacoesInternas":"","desconto":{"valor":0,"unidade":"REAL"},"categoria":{"id":0},"notaFiscal":{"id":18964545061},"tributacao":{"totalICMS":0,"totalIPI":0},"itens":[{"id":16237931019,"codigo":"VEST-LONG-TOP-SAI-FEND-PRETO-P","unidade":"1","quantidade":1,"desconto":0,"valor":40.7,"aliquotaIPI":0,"descricao":"Vestido
        LONGO top + saia fenda Cor:Preto;Tamanho:P","descricaoDetalhada":"","produto":{"id":15957707537},"comissao":{"base":40.7,"aliquota":0,"valor":0}}],"parcelas":[{"id":16444244693,"dataVencimento":"2023-11-17","valor":40.7,"observacoes":"","formaPagamento":{"id":1135275}}],"transporte":{"fretePorConta":0,"frete":0,"quantidadeVolumes":0,"pesoBruto":0,"prazoEntrega":0,"contato":{"id":0,"nome":""},"etiqueta":{"nome":"Maria
        Fernanda Vendruscolo","endereco":"Rua Marechal Floriano Peixoto 1385","numero":"apto
        1405","complemento":"","municipio":"Santa Maria","uf":"RS","cep":"97015373","bairro":"Centro","nomePais":""},"volumes":[]},"vendedor":{"id":0},"intermediador":{"cnpj":"","nomeUsuario":""}}}'
  recorded_at: Thu, 19 Oct 2023 12:53:01 GMT
[...]
