---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?idsSituacoes%5B%5D=15&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":19195344030,"numero":51769,"numeroLoja":"231125FXW3HV27","data":"2023-11-24","dataSaida":"2023-11-24","dataPrevista":"2023-12-11","totalProdutos":64.9,"total":64.9,"contato":{"id":16442937464,"nome":"Faker
        Name Souza","tipoPessoa":"F","numeroDocumento":"999.999.999-99"},"situacao":{"id":15,"valor":3},"loja":{"id":203737982}},{"id":19195327923,"numero":51768,"numeroLoja":"231125FXTDQ5SQ","data":"2023-11-24","dataSaida":"2023-11-24","dataPrevista":"2023-12-07","totalProdutos":64.9,"total":64.9,"contato":{"id":16442933357,"nome":"Faker
        Name Souza","tipoPessoa":"F","numeroDocumento":""},"situacao":{"id":15,"valor":3},"loja":{"id":203737982}},{"id":19195302636,"numero":51767,"numeroLoja":"GSHNAT63M00MRFN","data":"2023-11-24","dataSaida":"2023-11-24","dataPrevista":"0000-00-00","totalProdutos":81[...]
