---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?idsSituacoes%5B%5D=15&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":18961687503,"numero":32356,"numeroLoja":"2310188391CGG2","data":"2023-10-17","dataSaida":"2023-10-17","dataPrevista":"2023-11-07","totalProdutos":59.9,"total":59.9,"contato":{"id":16035555555,"nome":"Dhullya
        Dos Santos Oliveira","tipoPessoa":"F","numeroDocumento":""},"situacao":{"id":15,"valor":3},"loja":{"id":203737982}},{"id":18961634911,"numero":32355,"numeroLoja":"GSHN9C63U00M2KU","data":"2023-10-17","dataSaida":"2023-10-17","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16377491475,"nome":"Thawani
        Reis Barbosa","tipoPessoa":"F","numeroDocumento":"519.368.438-62"},"situacao":{"id":15,"valor":3},"loja":{"id":204219105}},{"id":18961634862,"numero":32354,"numeroLoja":"GSHN9C62U000JAJ","data":"2023-10-17","dataSaida":"2023-10-17","dataPrevista":"0000-00-00"[...]
[...]
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?idsSituacoes%5B%5D=15&limite=100&pagina=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[]}'
  recorded_at: Tue, 17 Oct 2023 21:56:20 GMT
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas/18961687503
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":18961687503,"numero":32356,"numeroLoja":"2310188391CGG2","data":"2023-10-17","dataSaida":"2023-10-17","dataPrevista":"2023-11-07","totalProdutos":59.9,"total":59.9,"contato":{"id":16035555555,"nome":"Dhullya
        Dos Santos Oliveira","tipoPessoa":"F","numeroDocumento":""},"situacao":{"id":15,"valor":3},"loja":{"id":203737982},"numeroPedidoCompra":"","outrasDespesas":0,"observacoes":"","observacoesInternas":"","desconto":{"valor":0,"unidade":"REAL"},"categoria":{"id":0},"notaFiscal":{"id":0},"tributacao":{"totalICMS":0,"totalIPI":0},"itens":[{"id":16236555452,"codigo":"VEST-LONG-FEND-ARGO-PRET-P","unidade":"Unidad","quantidade":1,"desconto":0,"valor":59.9,"aliquotaIPI":0,"descricao":"VESTIDO
        LONGO FENDA COM ARGOLA cor:Preto;tamanho:P","descricaoDetalhada":"","produto":{"id":15952652686},"comissao":{"base":59.9,"aliquota":0,"valor":0}}],"parcelas":[{"id":16442993338,"dataVencimento":"2023-11-16","valor":59.9,"observacoes":"","formaPagamento":{"id":1135275}}],"transporte":{"fretePorConta":0,"frete":0,"quantidadeVolumes":1,"pesoBruto":0,"prazoEntrega":0,"contato":{"id":0,"nome":""},"etiqueta":{"nome":"Dhullya
        Dos Santos Oliveira","endereco":"S\u00e3o Sebasti\u00e3o","numero":"201","complemento":"CASA
        EM CIMA DO BAR DE MARCELO","municipio":"Porto Seguro","uf":"BA","cep":"45810000","bairro":"Arei\u00e3o\/Ant\u00f4nio
        Tito","nomePais":""},"volumes":[{"id":15234671196,"servico":"Logistica Shopee","codigoRastreamento":""}]},"vendedor":{"id":0},"intermediador":{"cnpj":"35.635.824\/0001-12","nomeUsuario":"372186496"}}}'
  recorded_at: Tue, 17 Oct 2023 21:56:28 GMT
[...]
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas/18951543045
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"type":"TOO_MANY_REQUESTS","message":"Limite de requisi\u00e7\u00f5es
        atingido.","description":"O limite de requisi\u00e7\u00f5es por segundo foi
        atingido, tente novamente mais tarde."}}'
  recorded_at: Tue, 17 Oct 2023 21:58:27 GMT
[...]
