---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?idsSituacoes%5B%5D=15&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":18932419046,"numero":31151,"numeroLoja":"GSHN9058300N060","data":"2023-10-11","dataSaida":"2023-10-11","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16368939218,"nome":"Lara
        Galv\u00e3o","tipoPessoa":"F","numeroDocumento":"761.424.261-00"},"situacao":{"id":15,"valor":3},"loja":{"id":204219105}},{"id":18932419031,"numero":31150,"numeroLoja":"GSHN90243002W7J","data":"2023-10-11","dataSaida":"2023-10-11","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16368939212,"nome":"Beatriz
        Ribeiro","tipoPessoa":"F","numeroDocumento":"178.026.727-40"},"situacao":{"id":15,"valor":3},"loja":{"id":204219105}},{"id":18932401873,"numero":31149,"numeroLoja":"GSHN9049300M2DM","data":"2023-10-11","dataSaida":"2023-10-11","dataPrevista":"0000-00-00","tot[...]
[...]
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas/18932419046
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":18932419046,"numero":31151,"numeroLoja":"GSHN9058300N060","data":"2023-10-11","dataSaida":"2023-10-11","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16368939218,"nome":"Lara
        Galv\u00e3o","tipoPessoa":"F","numeroDocumento":"761.424.261-00"},"situacao":{"id":15,"valor":3},"loja":{"id":204219105},"numeroPedidoCompra":"","outrasDespesas":0,"observacoes":"","observacoesInternas":"","desconto":{"valor":0,"unidade":"REAL"},"categoria":{"id":0},"notaFiscal":{"id":0},"tributacao":{"totalICMS":0,"totalIPI":0},"itens":[{"id":16221434597,"codigo":"VEST-LONG-TOP-SAI-FEND-VERMELHO-PP","unidade":"1","quantidade":1,"desconto":0,"valor":40.7,"aliquotaIPI":0,"descricao":"Vestido
        LONGO top + saia fenda Cor:Vermelho;Tamanho:PP","descricaoDetalhada":"","produto":{"id":15973680261},"comissao":{"base":40.7,"aliquota":0,"valor":0}}],"parcelas":[{"id":16428559430,"dataVencimento":"2023-11-10","valor":40.7,"observacoes":"","formaPagamento":{"id":1135275}}],"transporte":{"fretePorConta":0,"frete":0,"quantidadeVolumes":0,"pesoBruto":0,"prazoEntrega":0,"contato":{"id":0,"nome":""},"etiqueta":{"nome":"Lara
        Galv\u00e3o","endereco":"Quadra ARSE 91 Alameda 1","numero":"01","complemento":"Quadra
        ARSE 91 Alameda 10","municipio":"Palmas","uf":"TO","cep":"77023354","bairro":"Plano
        Diretor Sul","nomePais":""},"volumes":[]},"vendedor":{"id":0},"intermediador":{"cnpj":"","nomeUsuario":""}}}'
  recorded_at: Thu, 12 Oct 2023 00:56:55 GMT
[...]
