---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?dataFinal=2023-11-1&dataInicial=2023-11-1&idsSituacoes%5B%5D=12&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":19048562827,"numero":37025,"numeroLoja":"GSHN9A25Q00NMVH","data":"2023-11-01","dataSaida":"2023-11-01","dataPrevista":"0000-00-00","totalProdutos":62.9,"total":59.6,"contato":{"id":16401234339,"nome":"Faker
        Name Souza\u00eds Nascimento Lobato","tipoPessoa":"F","numeroDocumento":"999.999.999-99"},"situacao":{"id":12,"valor":2},"loja":{"id":204219105}},{"id":19048562792,"numero":37024,"numeroLoja":"GSHN9A24Q001XYA","data":"2023-11-01","dataSaida":"2023-11-01","dataPrevista":"0000-00-00","totalProdutos":59.9,"total":56.62,"contato":{"id":16401234319,"nome":"Faker
        Name Souza","tipoPessoa":"F","numeroDocumento":"999.999.999-99"},"situacao":{"id":12,"valor":2},"loja":{"id":204219105}},{"id":19048562715,"numero":37023,"numeroLoja":"GSHN9A64Q0023SN","data":"2023-11-01","dataSaida":"2023-11-01","dataPrevista":"0000-00-00","t[...]
