---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?idsSituacoes%5B%5D=9&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":18865122210,"numero":28221,"numeroLoja":"231002TKNP3FDQ","data":"2023-10-01","dataSaida":"2023-10-01","dataPrevista":"2023-10-17","totalProdutos":49.9,"total":46.08,"contato":{"id":16350301015,"nome":"Nycole
        Marques Farias","tipoPessoa":"F","numeroDocumento":""},"situacao":{"id":9,"valor":1},"loja":{"id":203737982}},{"id":18865074415,"numero":28217,"numeroLoja":"231002TJAXHB20","data":"2023-10-01","dataSaida":"2023-10-01","dataPrevista":"2023-10-16","totalProdutos":49.9,"total":49.9,"contato":{"id":16350280571,"nome":"Dayrlane
        Ferreira Dos Santos","tipoPessoa":"F","numeroDocumento":""},"situacao":{"id":9,"valor":1},"loja":{"id":203737982}},{"id":18864910407,"numero":28205,"numeroLoja":"231002TF25DWRF","data":"2023-10-01","dataSaida":"2023-10-01","dataPrevista":"2023-10-16","totalPr[...]
[...]
