---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/produtos?limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":16181499539,"nome":"Faker Name Souza:Branco;Tamanho:G","codigo":"VEST-Brilho-Reveillon-BRANCO-G","preco":189.9,"tipo":"P","situacao":"A","formato":"S","descricaoCurta":"<p>Bem-vinda
        \u00e0 \"Coleo Premium\", onde o glamour se encontra com a celebrao, e nosso
        deslumbrante vestido de paet\u00eas \u00e9 a personificao do luxo para as
        festividades de final de ano. Este vestido radiante, feito de paet\u00ea brilhante,
        \u00e9 uma escolha verdadeiramente deslumbrante para aquelas que desejam brilhar
        com estilo inigual\u00e1vel.<\/p>\r\n<p>\u00a0<\/p>\r\n<p>Disponvel nas cores
        preto, branco e vermelho, cada tonalidade of[...]
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/estoques/saldos?idsProdutos%5B%5D=16181499539
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"produto":{"id":16181499539},"saldoFisicoTotal":30,"saldoVirtualTotal":30,"depositos":[{"id":9023657532,"saldoFisico":30,"saldoVirtual":30},{"id":14887161887,"saldoFisico":0,"saldoVirtual":0}]}]}'
  recorded_at: Fri, 22 Dec 2023 01:38:30 GMT
[...]
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/estoques/saldos?idsProdutos%5B%5D=16130980615
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"produto":{"id":16130980615},"saldoFisicoTotal":1,"saldoVirtualTotal":1,"depositos":[{"id":9023657532,"saldoFisico":1,"saldoVirtual":1},{"id":14887161887,"saldoFisico":0,"saldoVirtual":0}]}]}'
  recorded_at: Fri, 22 Dec 2023 01:40:17 GMT
recorded_with: VCR 6.2.0
