---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/produtos?limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":16181499539,"nome":"Faker Name Souza:Branco;Tamanho:G","codigo":"VEST-Brilho-Reveillon-BRANCO-G","preco":189.9,"tipo":"P","situacao":"A","formato":"S","descricaoCurta":"<p>Bem-vinda
        \u00e0 \"Coleo Premium\", onde o glamour se encontra com a celebrao, e nosso
        deslumbrante vestido de paet\u00eas \u00e9 a personificao do luxo para as
        festividades de final de ano. Este vestido radiante, feito de paet\u00ea brilhante,
        \u00e9 uma escolha verdadeiramente deslumbrante para aquelas que desejam brilhar
        com estilo inigual\u00e1vel.<\/p>\r\n<p>\u00a0<\/p>\r\n<p>Disponvel nas cores
        preto, branco e vermelho, cada tonalidade of[...]
