---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?idsSituacoes%5B%5D=15&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":19164471829,"numero":48580,"numeroLoja":"23112167451NJV","data":"2023-11-20","dataSaida":"2023-11-20","dataPrevista":"2023-12-02","totalProdutos":45.9,"total":45.9,"contato":{"id":16434797080,"nome":"Camila
        Sulzbacher","tipoPessoa":"F","numeroDocumento":""},"situacao":{"id":15,"valor":3},"loja":{"id":203737982}},{"id":19164425481,"numero":48578,"numeroLoja":"GSHNAW54200N5Y8","data":"2023-11-20","dataSaida":"2023-11-20","dataPrevista":"0000-00-00","totalProdutos":62.9,"total":59.6,"contato":{"id":16434780847,"nome":"Beatriz
        de Oliveira Almeida","tipoPessoa":"F","numeroDocumento":"449.366.688-93"},"situacao":{"id":15,"valor":3},"loja":{"id":204219105}},{"id":19164425262,"numero":48577,"numeroLoja":"GSHNAW54200MHQD","data":"2023-11-20","dataSaida":"2023-11-20","dataPrevista":"0000[...]
