---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?dataFinal=2022-12-31&dataInicial=2022-12-31&idsSituacoes%5B%5D=9&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":18025447261,"numero":14106,"numeroLoja":"GSHNT501T001DTF","data":"2022-12-31","dataSaida":"2023-04-22","dataPrevista":"0000-00-00","totalProdutos":69.9,"total":69.9,"contato":{"id":16114208402,"nome":"Victoria
        khethelyn Andrade e silva","tipoPessoa":"F","numeroDocumento":"075.451.141-32"},"situacao":{"id":9,"valor":1},"loja":{"id":204219105}}]}'
  recorded_at: Tue, 03 Oct 2023 14:36:44 GMT
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?dataFinal=2022-12-31&dataInicial=2022-12-31&idsSituacoes%5B%5D=9&limite=100&pagina=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[]}'
  recorded_at: Tue, 03 Oct 2023 14:36:45 GMT
recorded_with: VCR 6.2.0
