---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?idsSituacoes%5B%5D=9&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":19152788820,"numero":47182,"numeroLoja":"231118VFJ6YD96","data":"2023-11-18","dataSaida":"2023-11-18","dataPrevista":"2023-11-29","totalProdutos":45.9,"total":45.42,"contato":{"id":16431055497,"nome":"Faker
        Name Souza","tipoPessoa":"F","numeroDocumento":"999.999.999-99"},"situacao":{"id":9,"valor":1},"loja":{"id":203737982}},{"id":19133776292,"numero":45395,"numeroLoja":"231115NG4HQC4A","data":"2023-11-15","dataSaida":"2023-11-15","dataPrevista":"2023-11-27","totalProdutos":45.9,"total":45.9,"contato":{"id":16425935982,"nome":"Faker
        Name Souza","tipoPessoa":"F","numeroDocumento":""},"situacao":{"id":9,"valor":1},"loja":{"id":203737982}},{"id":19116482447,"numero":44048,"numeroLoja":"231113FS6DWJMY","data":"2023-11-12","dataSaida":"2023-11-12","dataPrevista":"2023-11-30","totalProdutos":64.9[...]
