---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?idsSituacoes%5B%5D=9&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":18924816512,"numero":30920,"numeroLoja":"16830I16827","data":"2023-10-10","dataSaida":"2023-10-10","dataPrevista":"0000-00-00","totalProdutos":49.9,"total":59.92,"contato":{"id":16367006228,"nome":"Julia
        Lima","tipoPessoa":"F","numeroDocumento":"535.575.588-78"},"situacao":{"id":9,"valor":1},"loja":{"id":203467890}},{"id":18914311030,"numero":30384,"numeroLoja":"16815I16812","data":"2023-10-09","dataSaida":"2023-10-09","dataPrevista":"0000-00-00","totalProdutos":49.9,"total":69.41,"contato":{"id":16363619813,"nome":"Yohana
        Fernandes","tipoPessoa":"F","numeroDocumento":"497.699.188-14"},"situacao":{"id":9,"valor":1},"loja":{"id":203467890}},{"id":18888447628,"numero":28890,"numeroLoja":"23100561G04EYE","data":"2023-10-05","dataSaida":"2023-10-05","dataPrevista":"2023-10-21","totalPr[...]
