---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?idsSituacoes%5B%5D=15&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":19162561062,"numero":48356,"numeroLoja":"2311215PU7STGC","data":"2023-11-20","dataSaida":"2023-11-20","dataPrevista":"2023-12-03","totalProdutos":45.9,"total":45.31,"contato":{"id":16434270425,"nome":"Thayn\u00e1
        Lopes","tipoPessoa":"F","numeroDocumento":""},"situacao":{"id":15,"valor":3},"loja":{"id":203737982}},{"id":19162524836,"numero":48354,"numeroLoja":"2311215PHA7KBF","data":"2023-11-20","dataSaida":"2023-11-20","dataPrevista":"2023-12-02","totalProdutos":59.9,"total":64.61,"contato":{"id":16434259729,"nome":"Shawana
        Da Conceicao Viana","tipoPessoa":"F","numeroDocumento":""},"situacao":{"id":15,"valor":3},"loja":{"id":203737982}},{"id":19162519786,"numero":48353,"numeroLoja":"2000006938171192","data":"2023-11-20","dataSaida":"2023-11-20","dataPrevista":"0000-00-00","total[...]
