---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?idsSituacoes%5B%5D=15&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":19195987853,"numero":51816,"numeroLoja":"231125G27NVR2G","data":"2023-11-24","dataSaida":"2023-11-24","dataPrevista":"2023-12-06","totalProdutos":64.9,"total":64.9,"contato":{"id":16443104420,"nome":"Faker
        Name Souza","tipoPessoa":"F","numeroDocumento":""},"situacao":{"id":15,"valor":3},"loja":{"id":203737982}},{"id":19195971017,"numero":51815,"numeroLoja":"GSHNAT53N00NXYU","data":"2023-11-24","dataSaida":"2023-11-24","dataPrevista":"0000-00-00","totalProdutos":62.9,"total":59.6,"contato":{"id":16345456794,"nome":"Faker
        Name Souza","tipoPessoa":"F","numeroDocumento":"999.999.999-99"},"situacao":{"id":15,"valor":3},"loja":{"id":204219105}},{"id":19195970765,"numero":51814,"numeroLoja":"GSHNAT56N00NX0J","data":"2023-11-24","dataSaida":"2023-11-24","dataPrevista":"0000-00-00","to[...]
