---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?idsSituacoes%5B%5D=15&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":19165069264,"numero":48697,"numeroLoja":"GSHNAW54W001TQW","data":"2023-11-20","dataSaida":"2023-11-20","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16435024214,"nome":"Giovanna
        Moreira","tipoPessoa":"F","numeroDocumento":"228.969.067-89"},"situacao":{"id":15,"valor":3},"loja":{"id":204219105}},{"id":19165069147,"numero":48696,"numeroLoja":"GSHNAW52C00N2EG","data":"2023-11-20","dataSaida":"2023-11-20","dataPrevista":"0000-00-00","totalProdutos":62.9,"total":59.6,"contato":{"id":16435024165,"nome":"Valdeia
        Do Ros\u00e1rio De Azevedo","tipoPessoa":"F","numeroDocumento":"100.826.327-31"},"situacao":{"id":15,"valor":3},"loja":{"id":204219105}},{"id":19165068931,"numero":48695,"numeroLoja":"GSHNAW51C00MVNM","data":"2023-11-20","dataSaida":"2023-11-20","dataPrevista[...]
