---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?idsSituacoes%5B%5D=15&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":18876457340,"numero":28462,"numeroLoja":"GSHNSK24B00NV4H","data":"2023-10-03","dataSaida":"2023-10-03","dataPrevista":"0000-00-00","totalProdutos":81.4,"total":81.4,"contato":{"id":16352823987,"nome":"Viviane
        Alves da silva cunha","tipoPessoa":"F","numeroDocumento":"163.385.237-70"},"situacao":{"id":15,"valor":3},"loja":{"id":204219105}},{"id":18876402601,"numero":28461,"numeroLoja":"GSHNSK37B0012H4","data":"2023-10-03","dataSaida":"2023-10-03","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16352811446,"nome":"Ana
        Beatriz Mac\u00eado da Silva","tipoPessoa":"F","numeroDocumento":"197.853.497-30"},"situacao":{"id":15,"valor":3},"loja":{"id":204219105}},{"id":18876402506,"numero":28460,"numeroLoja":"GSHNSB52B0002BS","data":"2023-10-03","dataSaida":"2023-10-03","dataPrevista":[...]
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?idsSituacoes%5B%5D=15&limite=100&pagina=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[]}'
  recorded_at: Tue, 03 Oct 2023 15:16:31 GMT
recorded_with: VCR 6.2.0
