---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/estoques/saldos?idsProdutos%5B%5D=16181499538&idsProdutos%5B%5D=16181499539
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"produto":{"id":16181499538},"saldoFisicoTotal":30,"saldoVirtualTotal":30,"depositos":[{"id":9023657532,"saldoFisico":30,"saldoVirtual":30},{"id":14887161887,"saldoFisico":0,"saldoVirtual":0}]},{"produto":{"id":16181499539},"saldoFisicoTotal":30,"saldoVirtualTotal":30,"depositos":[{"id":9023657532,"saldoFisico":30,"saldoVirtual":30},{"id":14887161887,"saldoFisico":0,"saldoVirtual":0}]}]}'
  recorded_at: Thu, 21 Dec 2023 15:39:39 GMT
recorded_with: VCR 6.2.0
