---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?idsSituacoes%5B%5D=12&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":18931800736,"numero":31108,"numeroLoja":"GSHN90142002412","data":"2023-10-11","dataSaida":"2023-10-11","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16368678854,"nome":"Brena
        Freitas Ferreira","tipoPessoa":"F","numeroDocumento":"169.177.056-67"},"situacao":{"id":12,"valor":2},"loja":{"id":204219105}},{"id":18930651015,"numero":31075,"numeroLoja":"GSHN9008N0015WM","data":"2023-10-11","dataSaida":"2023-10-11","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16368414257,"nome":"Lorrany
        Silva","tipoPessoa":"F","numeroDocumento":"244.894.388-50"},"situacao":{"id":12,"valor":2},"loja":{"id":204219105}},{"id":18925348786,"numero":30984,"numeroLoja":"231011M7J222B4","data":"2023-10-11","dataSaida":"2023-10-11","dataPrevista":"2023-11-07","totalP[...]
[...]
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas/18931800736
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":18931800736,"numero":31108,"numeroLoja":"GSHN90142002412","data":"2023-10-11","dataSaida":"2023-10-11","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16368678854,"nome":"Brena
        Freitas Ferreira","tipoPessoa":"F","numeroDocumento":"169.177.056-67"},"situacao":{"id":12,"valor":2},"loja":{"id":204219105},"numeroPedidoCompra":"","outrasDespesas":0,"observacoes":"","observacoesInternas":"","desconto":{"valor":0,"unidade":"REAL"},"categoria":{"id":0},"notaFiscal":{"id":0},"tributacao":{"totalICMS":0,"totalIPI":0},"itens":[{"id":16221027314,"codigo":"VEST-LONG-TOP-SAI-FEND-BRANCO-P","unidade":"1","quantidade":1,"desconto":0,"valor":40.7,"aliquotaIPI":0,"descricao":"Vestido
        LONGO top + saia fenda Cor:Branco;Tamanho:P","descricaoDetalhada":"","produto":{"id":15973680258},"comissao":{"base":40.7,"aliquota":0,"valor":0}}],"parcelas":[{"id":16428158812,"dataVencimento":"2023-11-10","valor":40.7,"observacoes":"","formaPagamento":{"id":1135275}}],"transporte":{"fretePorConta":0,"frete":0,"quantidadeVolumes":0,"pesoBruto":0,"prazoEntrega":0,"contato":{"id":0,"nome":""},"etiqueta":{"nome":"Brena
        Freitas Ferreira","endereco":"Em frente o catuaba kk","numero":"529","complemento":"","municipio":"Raul
        Soares","uf":"MG","cep":"35350000","bairro":"Dra.Jos\u00e9 grosse","nomePais":""},"volumes":[]},"vendedor":{"id":0},"intermediador":{"cnpj":"","nomeUsuario":""}}}'
  recorded_at: Wed, 11 Oct 2023 22:28:02 GMT
[...]
