---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?dataAlteracaoFinal=2023-12-15&dataAlteracaoInicial=2023-12-14&idsSituacoes%5B%5D=12&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":19341921284,"numero":65374,"numeroLoja":"2312158P0MVKJJ","data":"2023-12-14","dataSaida":"2023-12-14","dataPrevista":"2023-12-26","totalProdutos":119.8,"total":119.8,"contato":{"id":16484389108,"nome":"Faker
        Name Souza","tipoPessoa":"J","numeroDocumento":""},"situacao":{"id":12,"valor":2},"loja":{"id":203737982}},{"id":19341783182,"numero":65359,"numeroLoja":"2312158KSR527X","data":"2023-12-14","dataSaida":"2023-12-14","dataPrevista":"2023-12-27","totalProdutos":59.9,"total":63.33,"contato":{"id":16484330807,"nome":"Faker
        Name Souza","tipoPessoa":"J","numeroDocumento":""},"situacao":{"id":12,"valor":2},"loja":{"id":203737982}},{"id":19341582779,"numero":65337,"numeroLoja":"2312158GQMKMUW","data":"2023-12-14","dataSaida":"2023-12-14","dataPrevista":"2024-01-02","totalProdutos":59[...]
