---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas/19270144097
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":19270144097,"numero":59011,"numeroLoja":"231206EAXY8MBA","data":"2023-12-05","dataSaida":"2023-12-05","dataPrevista":"2023-12-26","totalProdutos":69.9,"total":69.9,"contato":{"id":16464184421,"nome":"Faker
        Name Souza","tipoPessoa":"F","numeroDocumento":"999.999.999-99"},"situacao":{"id":15,"valor":3},"loja":{"id":203737982},"numeroPedidoCompra":"","outrasDespesas":0,"observacoes":"","observacoesInternas":"","desconto":{"valor":0,"unidade":"REAL"},"categoria":{"id":0},"notaFiscal":{"id":0},"tributacao":{"totalICMS":0,"totalIPI":0},"itens":[{"id":16394835410,"codigo":"CONJ-FEND-TOP-NUDE-P","unidade":"Unidad","quantidade":1,"desconto":0,"valor":69.9,"aliquotaIPI":0,"descricao":"CONJUNTO
        TOP MANGA LONGA + SAIA COM FENDA Cor:Nude;Tamanho:P","descricaoDetalhada":"","produto":{"id":15977501218},"comissao":{"base":69.9,"aliquota":0,"valor":0}}],"parcelas":[{"id":16592357117,"dataVencimento":"2024-01-04","valor":69.9,"observacoes":"","formaPagamento":{"id":1135275}}],"transporte":{"fretePorConta":0,"frete":0,"quantidadeVolumes":1,"pesoBruto":0,"prazoEntrega":0,"contato":{"id":0,"nome":""},"etiqueta":{"nome":"Faker
        Name Souza","endereco":"Av Bahia. Condom\u00ednio Gran Village turu III Casa
        69","numero":" .","complemento":" S\u00e3o Lu\u00eds","municipio":"S\u00e3o
        Lu\u00eds","uf":"MA","cep":"65066659","bairro":"Turu","nomePais":""},"volumes":[{"id":15271375025,"servico":"Logistica
        Shopee","codigoRastreamento":""}]},"vendedor":{"id":0},"intermediador":{"cnpj":"35.635.824\/0001-12","nomeUsuario":"372186496"}}}'
  recorded_at: Tue, 05 Dec 2023 17:16:55 GMT
[...]
