---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas/19195344030
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":19195344030,"numero":51769,"numeroLoja":"231125FXW3HV27","data":"2023-11-24","dataSaida":"2023-11-24","dataPrevista":"2023-12-11","totalProdutos":64.9,"total":64.9,"contato":{"id":16442937464,"nome":"Faker
        Name Souza","tipoPessoa":"F","numeroDocumento":"999.999.999-99"},"situacao":{"id":101065,"valor":0},"loja":{"id":203737982},"numeroPedidoCompra":"","outrasDespesas":0,"observacoes":"","observacoesInternas":"","desconto":{"valor":0,"unidade":"REAL"},"categoria":{"id":0},"notaFiscal":{"id":19196398961},"tributacao":{"totalICMS":0,"totalIPI":0},"itens":[{"id":16356375402,"codigo":"FAKE","unidade":"Unidad","quantidade":1,"desconto":0,"valor":64.9,"aliquotaIPI":0,"descricao":"CONJUNTO
        TOP MANGA LONGA + SAIA COM FENDA Cor:Branco;Tamanho:G","descricaoDetalhada":"","produto":{"id":15979076305},"comissao":{"base":64.9,"aliquota":0,"valor":0}}],"parcelas":[{"id":16555698895,"dataVencimento":"2023-12-24","valor":64.9,"observacoes":"","formaPagamento":{"id":1135275}}],"transporte":{"fretePorConta":0,"frete":0,"quantidadeVolumes":1,"pesoBruto":0,"prazoEntrega":0,"contato":{"id":0,"nome":""},"etiqueta":{"nome":"Faker
        Name Souza","endereco":"FAKE","numero":"99","complemento":"
        E","municipio":"FAKE","uf":"FAKE","cep":"99999","bairro":"FAKE","nomePais":""},"volumes":[{"id":15262142204,"servico":"Logistica
        Shopee","codigoRastreamento":"FAKEFAKE"}]},"vendedor":{"id":0},"intermediador":{"cnpj":"999","nomeUsuario":"999"}}}'
  recorded_at: Tue, 05 Dec 2023 15:26:27 GMT
[...]
