---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?idsSituacoes%5B%5D=15&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":18928665224,"numero":31048,"numeroLoja":"GSHNSP33A000EP2","data":"2023-10-11","dataSaida":"2023-10-11","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16367924703,"nome":"Lucineide
        Souza","tipoPessoa":"F","numeroDocumento":"010.437.364-41"},"situacao":{"id":15,"valor":3},"loja":{"id":204219105}},{"id":18928665119,"numero":31047,"numeroLoja":"GSHNSP1090020AY","data":"2023-10-11","dataSaida":"2023-10-11","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16367924655,"nome":"Sherlien
        Vitoria","tipoPessoa":"F","numeroDocumento":"167.873.626-09"},"situacao":{"id":15,"valor":3},"loja":{"id":204219105}},{"id":18928657820,"numero":31046,"numeroLoja":"231011NAY1X3FC","data":"2023-10-11","dataSaida":"2023-10-11","dataPrevista":"2023-10-29","tot[...]
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?idsSituacoes%5B%5D=15&limite=100&pagina=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[]}'
  recorded_at: Wed, 11 Oct 2023 14:34:20 GMT
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas/18928665224
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":18928665224,"numero":31048,"numeroLoja":"GSHNSP33A000EP2","data":"2023-10-11","dataSaida":"2023-10-11","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16367924703,"nome":"Lucineide
        Souza","tipoPessoa":"F","numeroDocumento":"010.437.364-41"},"situacao":{"id":15,"valor":3},"loja":{"id":204219105},"numeroPedidoCompra":"","outrasDespesas":0,"observacoes":"","observacoesInternas":"","desconto":{"valor":0,"unidade":"REAL"},"categoria":{"id":0},"notaFiscal":{"id":0},"tributacao":{"totalICMS":0,"totalIPI":0},"itens":[{"id":16219375813,"codigo":"VEST-LONG-TOP-SAI-FEND-BRANCO-P","unidade":"1","quantidade":1,"desconto":0,"valor":40.7,"aliquotaIPI":0,"descricao":"Vestido
        LONGO top + saia fenda Cor:Branco;Tamanho:P","descricaoDetalhada":"","produto":{"id":15973680258},"comissao":{"base":40.7,"aliquota":0,"valor":0}}],"parcelas":[{"id":16426541105,"dataVencimento":"2023-11-10","valor":40.7,"observacoes":"","formaPagamento":{"id":1135275}}],"transporte":{"fretePorConta":0,"frete":0,"quantidadeVolumes":0,"pesoBruto":0,"prazoEntrega":0,"contato":{"id":0,"nome":""},"etiqueta":{"nome":"Lucineide
        Souza","endereco":"Rua Dom Jos\u00e9 Tomaz","numero":"995","complemento":"","municipio":"Natal","uf":"RN","cep":"59022250","bairro":"Tirol","nomePais":""},"volumes":[]},"vendedor":{"id":0},"intermediador":{"cnpj":"","nomeUsuario":""}}}'
  recorded_at: Wed, 11 Oct 2023 14:34:21 GMT
[...]
