---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas/9829778376
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "error": {
                "type": "RESOURCE_NOT_FOUND",
                "message": "No encontrado.",
                "description": "O recurso requisitado no foi encontrado. Verifique se o endpoint solicitado est\u00e1 correto ou se o ID informado realmente existe no sistema."
            }
        }
  recorded_at: Tue, 06 Feb 2024 15:20:06 GMT
[...]
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas/99
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "error": {
                "type": "RESOURCE_NOT_FOUND",
                "message": "No encontrado.",
                "description": "O recurso requisitado no foi encontrado. Verifique se o endpoint solicitado est\u00e1 correto ou se o ID informado realmente existe no sistema."
            }
        }
  recorded_at: Tue, 06 Feb 2024 15:20:25 GMT
recorded_with: VCR 6.2.0
