---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?idsSituacoes%5B%5D=94871&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":18917310868,"numero":30557,"numeroLoja":"GSHNSE62S000N1H","data":"2023-10-10","dataSaida":"2023-10-10","dataPrevista":"0000-00-00","totalProdutos":34.9,"total":34.9,"contato":{"id":16364656252,"nome":"Beatriz
        Silva","tipoPessoa":"F","numeroDocumento":"071.155.093-01"},"situacao":{"id":94871,"valor":0},"loja":{"id":204219105}},{"id":18917310682,"numero":30556,"numeroLoja":"GSHNSE60S0020XF","data":"2023-10-10","dataSaida":"2023-10-10","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16364656179,"nome":"Leticia
        Saraiva","tipoPessoa":"F","numeroDocumento":"029.296.162-61"},"situacao":{"id":94871,"valor":0},"loja":{"id":204219105}},{"id":18917310476,"numero":30555,"numeroLoja":"GSHNSE10S001XEA","data":"2023-10-10","dataSaida":"2023-10-10","dataPrevista":"0000-00-00","[...]
[...]
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas/18917310868
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":18917310868,"numero":30557,"numeroLoja":"GSHNSE62S000N1H","data":"2023-10-10","dataSaida":"2023-10-10","dataPrevista":"0000-00-00","totalProdutos":34.9,"total":34.9,"contato":{"id":16364656252,"nome":"Beatriz
        Silva","tipoPessoa":"F","numeroDocumento":"071.155.093-01"},"situacao":{"id":94871,"valor":0},"loja":{"id":204219105},"numeroPedidoCompra":"","outrasDespesas":0,"observacoes":"","observacoesInternas":"","desconto":{"valor":0,"unidade":"REAL"},"categoria":{"id":0},"notaFiscal":{"id":18917374886},"tributacao":{"totalICMS":0,"totalIPI":0},"itens":[{"id":16213865753,"codigo":"BIQU\u00cd-FIO-FREN-\u00daNI-PRETO-M","unidade":"Unidad","quantidade":1,"desconto":0,"valor":34.9,"aliquotaIPI":0,"descricao":"BIQU\u00cdNI
        FIO FRENTE \u00daNICA Cor:Preto;Tamanho:M","descricaoDetalhada":"","produto":{"id":15957294764},"comissao":{"base":34.9,"aliquota":0,"valor":0}}],"parcelas":[{"id":16421380926,"dataVencimento":"2023-11-09","valor":34.9,"observacoes":"","formaPagamento":{"id":1135275}}],"transporte":{"fretePorConta":0,"frete":0,"quantidadeVolumes":0,"pesoBruto":0,"prazoEntrega":0,"contato":{"id":0,"nome":""},"etiqueta":{"nome":"Beatriz
        Silva","endereco":"Rua Primeiro de Maio 216","numero":"S\/N","complemento":"","municipio":"Nazar\u00e9
        do Piau\u00ed","uf":"PI","cep":"64825000","bairro":"","nomePais":""},"volumes":[]},"vendedor":{"id":0},"intermediador":{"cnpj":"","nomeUsuario":""}}}'
  recorded_at: Wed, 11 Oct 2023 14:41:24 GMT
[...]
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas/18913762777
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"type":"TOO_MANY_REQUESTS","message":"Limite de requisi\u00e7\u00f5es
        atingido.","description":"O limite de requisi\u00e7\u00f5es por segundo foi
        atingido, tente novamente mais tarde."}}'
  recorded_at: Wed, 11 Oct 2023 14:44:10 GMT
[...]
