---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?idsSituacoes%5B%5D=95745&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":18920943258,"numero":30686,"numeroLoja":"16822I16819","data":"2023-10-10","dataSaida":"2023-10-10","dataPrevista":"0000-00-00","totalProdutos":89.9,"total":101.94,"contato":{"id":16365542752,"nome":"Manuela
        Fran\u00e7a","tipoPessoa":"F","numeroDocumento":"467.559.128-08"},"situacao":{"id":95745,"valor":0},"loja":{"id":203467890}},{"id":18918457958,"numero":30584,"numeroLoja":"16818I16815","data":"2023-10-10","dataSaida":"2023-10-10","dataPrevista":"0000-00-00","totalProdutos":89.9,"total":100.91,"contato":{"id":16364911294,"nome":"Giovanna
        Macedo","tipoPessoa":"F","numeroDocumento":"462.983.088-06"},"situacao":{"id":95745,"valor":0},"loja":{"id":203467890}},{"id":18917931274,"numero":30567,"numeroLoja":"16817I16814","data":"2023-10-10","dataSaida":"2023-10-10","dataPrevista":"0000-00-00","totalP[...]
[...]
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas/18920943258
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":18920943258,"numero":30686,"numeroLoja":"16822I16819","data":"2023-10-10","dataSaida":"2023-10-10","dataPrevista":"0000-00-00","totalProdutos":89.9,"total":101.94,"contato":{"id":16365542752,"nome":"Manuela
        Fran\u00e7a","tipoPessoa":"F","numeroDocumento":"467.559.128-08"},"situacao":{"id":95745,"valor":0},"loja":{"id":203467890},"numeroPedidoCompra":"","outrasDespesas":0,"observacoes":"","observacoesInternas":"","desconto":{"valor":0,"unidade":"REAL"},"categoria":{"id":0},"notaFiscal":{"id":18921248961},"tributacao":{"totalICMS":0,"totalIPI":0},"itens":[{"id":16215642203,"codigo":"Vest-Longo-Bojo-Romano-Nude-M","unidade":"UN","quantidade":1,"desconto":0,"valor":89.9,"aliquotaIPI":0,"descricao":"Vestido
        Romano Longo com Bojo Cor:Nude;Tamanho:M","descricaoDetalhada":"","produto":{"id":16112725065},"comissao":{"base":89.9,"aliquota":0,"valor":0}}],"parcelas":[{"id":16423055356,"dataVencimento":"2023-11-09","valor":50.97,"observacoes":"M\u00e9todo
        de pagamento: Paypal\\n","formaPagamento":{"id":1135275}},{"id":16423055357,"dataVencimento":"2023-12-09","valor":50.97,"observacoes":"M\u00e9todo
        de pagamento: Paypal\\n","formaPagamento":{"id":1135275}}],"transporte":{"fretePorConta":0,"frete":12.04,"quantidadeVolumes":1,"pesoBruto":0,"prazoEntrega":7,"contato":{"id":0,"nome":""},"etiqueta":{"nome":"Manuela
        Fran\u00e7a","endereco":"Rua Melchor Barbosa","numero":"175","complemento":"casa
        2","municipio":"Mau\u00e1","uf":"SP","cep":"09321230","bairro":"Jardim Zaira","nomePais":""},"volumes":[{"id":15229684822,"servico":"SEDEX","codigoRastreamento":""}]},"vendedor":{"id":0},"intermediador":{"cnpj":"","nomeUsuario":""}}}'
  recorded_at: Tue, 10 Oct 2023 19:03:07 GMT
[...]
