---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?idsSituacoes%5B%5D=95745&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":18927718612,"numero":31032,"numeroLoja":"GSHNSP239000VDB","data":"2023-10-11","dataSaida":"2023-10-11","dataPrevista":"0000-00-00","totalProdutos":69.9,"total":69.9,"contato":{"id":16367731689,"nome":"Al\u00e9cia
        Ribeiro Froes","tipoPessoa":"F","numeroDocumento":"562.968.158-32"},"situacao":{"id":95745,"valor":0},"loja":{"id":204219105}},{"id":18927718379,"numero":31031,"numeroLoja":"GSHNSE26A00NGJC","data":"2023-10-11","dataSaida":"2023-10-11","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16367731634,"nome":"Ana
        Carolina da Silva","tipoPessoa":"F","numeroDocumento":"156.066.754-04"},"situacao":{"id":95745,"valor":0},"loja":{"id":204219105}},{"id":18927569683,"numero":31030,"numeroLoja":"GSHNSP279002W2U","data":"2023-10-11","dataSaida":"2023-10-11","dataPrevista":"0000-00[...]
[...]
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas/18927718612
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":18927718612,"numero":31032,"numeroLoja":"GSHNSP239000VDB","data":"2023-10-11","dataSaida":"2023-10-11","dataPrevista":"0000-00-00","totalProdutos":69.9,"total":69.9,"contato":{"id":16367731689,"nome":"Al\u00e9cia
        Ribeiro Froes","tipoPessoa":"F","numeroDocumento":"562.968.158-32"},"situacao":{"id":95745,"valor":0},"loja":{"id":204219105},"numeroPedidoCompra":"","outrasDespesas":0,"observacoes":"","observacoesInternas":"","desconto":{"valor":0,"unidade":"REAL"},"categoria":{"id":0},"notaFiscal":{"id":18927762561},"tributacao":{"totalICMS":0,"totalIPI":0},"itens":[{"id":16218969522,"codigo":"CONJ-FEND-TOP-NUDE-P","unidade":"Unidad","quantidade":1,"desconto":0,"valor":69.9,"aliquotaIPI":0,"descricao":"CONJUNTO
        TOP MANGA LONGA + SAIA COM FENDA Cor:Nude;Tamanho:P","descricaoDetalhada":"","produto":{"id":15977501218},"comissao":{"base":69.9,"aliquota":0,"valor":0}}],"parcelas":[{"id":16426150188,"dataVencimento":"2023-11-10","valor":69.9,"observacoes":"","formaPagamento":{"id":1135275}}],"transporte":{"fretePorConta":0,"frete":0,"quantidadeVolumes":0,"pesoBruto":0,"prazoEntrega":0,"contato":{"id":0,"nome":""},"etiqueta":{"nome":"Al\u00e9cia
        Ribeiro Froes","endereco":"Rua Altino Arantes","numero":"485  apart","complemento":"","municipio":"Caraguatatuba","uf":"SP","cep":"11660020","bairro":"Centro","nomePais":""},"volumes":[]},"vendedor":{"id":0},"intermediador":{"cnpj":"","nomeUsuario":""}}}'
  recorded_at: Wed, 11 Oct 2023 14:48:38 GMT
[...]
