---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?dataFinal=2023-10-13&dataInicial=2023-10-11&idsSituacoes%5B%5D=101065&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":18938310077,"numero":31430,"numeroLoja":"GSHN9M42A002UE5","data":"2023-10-13","dataSaida":"2023-10-13","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16370819220,"nome":"Eliane
        gon\u00e7alves Silva","tipoPessoa":"F","numeroDocumento":"092.095.696-36"},"situacao":{"id":101065,"valor":0},"loja":{"id":204219105}},{"id":18938309910,"numero":31429,"numeroLoja":"GSHN9M08A00N3D9","data":"2023-10-13","dataSaida":"2023-10-13","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16370819185,"nome":"Izabel
        Felix","tipoPessoa":"F","numeroDocumento":"062.028.005-00"},"situacao":{"id":101065,"valor":0},"loja":{"id":204219105}},{"id":18938309416,"numero":31427,"numeroLoja":"GSHN9M53A0019AD","data":"2023-10-13","dataSaida":"2023-10-13","dataPrevista":"0000-00-00","to[...]
[...]
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?dataFinal=2023-10-13&dataInicial=2023-10-11&idsSituacoes%5B%5D=101065&limite=100&pagina=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[]}'
  recorded_at: Tue, 17 Oct 2023 12:46:06 GMT
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas/18938310077
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":18938310077,"numero":31430,"numeroLoja":"GSHN9M42A002UE5","data":"2023-10-13","dataSaida":"2023-10-13","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16370819220,"nome":"Eliane
        gon\u00e7alves Silva","tipoPessoa":"F","numeroDocumento":"092.095.696-36"},"situacao":{"id":101065,"valor":0},"loja":{"id":204219105},"numeroPedidoCompra":"","outrasDespesas":0,"observacoes":"","observacoesInternas":"","desconto":{"valor":0,"unidade":"REAL"},"categoria":{"id":0},"notaFiscal":{"id":18938415238},"tributacao":{"totalICMS":0,"totalIPI":0},"itens":[{"id":16224402914,"codigo":"VEST-LONG-TOP-SAI-FEND-VERMELHO-P","unidade":"1","quantidade":1,"desconto":0,"valor":40.7,"aliquotaIPI":0,"descricao":"Vestido
        LONGO top + saia fenda Cor:Vermelho;Tamanho:P","descricaoDetalhada":"","produto":{"id":15973680263},"comissao":{"base":40.7,"aliquota":0,"valor":0}}],"parcelas":[{"id":16431408362,"dataVencimento":"2023-11-12","valor":40.7,"observacoes":"","formaPagamento":{"id":1135275}}],"transporte":{"fretePorConta":0,"frete":0,"quantidadeVolumes":0,"pesoBruto":0,"prazoEntrega":0,"contato":{"id":0,"nome":""},"etiqueta":{"nome":"Eliane
        gon\u00e7alves Silva","endereco":"Rua Ant\u00f4nio Lopes da Silva","numero":"499","complemento":"","municipio":"Montes
        Claros","uf":"MG","cep":"39401138","bairro":"Vila Atl\u00e2ntida","nomePais":""},"volumes":[]},"vendedor":{"id":0},"intermediador":{"cnpj":"","nomeUsuario":""}}}'
  recorded_at: Tue, 17 Oct 2023 12:46:15 GMT
[...]
