---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?idsSituacoes%5B%5D=101065&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":18916556554,"numero":30541,"numeroLoja":"GSHNSD281000XPW","data":"2023-10-10","dataSaida":"2023-10-10","dataPrevista":"0000-00-00","totalProdutos":34.9,"total":34.9,"contato":{"id":16364501765,"nome":"Flavia
        Kamily","tipoPessoa":"F","numeroDocumento":"164.137.316-48"},"situacao":{"id":101065,"valor":0},"loja":{"id":204219105}},{"id":18915451026,"numero":30466,"numeroLoja":"GSHNSE31400NE52","data":"2023-10-09","dataSaida":"2023-10-09","dataPrevista":"0000-00-00","totalProdutos":69.9,"total":69.9,"contato":{"id":16364090821,"nome":"Yasmin
        Victoria","tipoPessoa":"F","numeroDocumento":"166.092.137-63"},"situacao":{"id":101065,"valor":0},"loja":{"id":204219105}},{"id":18913384474,"numero":30350,"numeroLoja":"GSHNSE441000433","data":"2023-10-09","dataSaida":"2023-10-09","dataPrevista":"0000-00-00",[...]
[...]
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas/18916556554
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":18916556554,"numero":30541,"numeroLoja":"GSHNSD281000XPW","data":"2023-10-10","dataSaida":"2023-10-10","dataPrevista":"0000-00-00","totalProdutos":34.9,"total":34.9,"contato":{"id":16364501765,"nome":"Flavia
        Kamily","tipoPessoa":"F","numeroDocumento":"164.137.316-48"},"situacao":{"id":101065,"valor":0},"loja":{"id":204219105},"numeroPedidoCompra":"","outrasDespesas":0,"observacoes":"","observacoesInternas":"","desconto":{"valor":0,"unidade":"REAL"},"categoria":{"id":0},"notaFiscal":{"id":18916887039},"tributacao":{"totalICMS":0,"totalIPI":0},"itens":[{"id":16213606530,"codigo":"BIQU\u00cd-CORT-CALC-AMARR-FIO-ROSA-P","unidade":"UN","quantidade":1,"desconto":0,"valor":34.9,"aliquotaIPI":0,"descricao":"Purchase
        Store Biquini Cortininha fiodental de amarrar","descricaoDetalhada":"","produto":{"id":0},"comissao":{"base":34.9,"aliquota":0,"valor":0}}],"parcelas":[{"id":16421137888,"dataVencimento":"2023-11-09","valor":34.9,"observacoes":"","formaPagamento":{"id":1135275}}],"transporte":{"fretePorConta":0,"frete":0,"quantidadeVolumes":0,"pesoBruto":0,"prazoEntrega":0,"contato":{"id":0,"nome":""},"etiqueta":{"nome":"Flavia
        Kamily","endereco":"Rua Esp\u00edrito Santo","numero":"551","complemento":"","municipio":"Pedro
        Leopoldo","uf":"MG","cep":"33252123","bairro":"Distrito Lagoa Santo Ant\u00f4nio","nomePais":""},"volumes":[]},"vendedor":{"id":0},"intermediador":{"cnpj":"","nomeUsuario":""}}}'
  recorded_at: Wed, 11 Oct 2023 14:19:15 GMT
[...]
