---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?dataAlteracaoInicial=2023-11-09&idsSituacoes%5B%5D=101065&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":19191617591,"numero":51471,"numeroLoja":"GSHNAQ599000J0V","data":"2023-11-24","dataSaida":"2023-11-24","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16441933288,"nome":"Faker
        Name Souza","tipoPessoa":"F","numeroDocumento":"999.999.999-99"},"situacao":{"id":101065,"valor":0},"loja":{"id":204219105}},{"id":19188489880,"numero":51094,"numeroLoja":"GSHNAQ16C00MJPR","data":"2023-11-23","dataSaida":"2023-11-23","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16440892734,"nome":"Faker
        Name Souza","tipoPessoa":"F","numeroDocumento":"999.999.999-99"},"situacao":{"id":101065,"valor":0},"loja":{"id":204219105}},{"id":19188451940,"numero":51089,"numeroLoja":"GSHNAQ13C000FH8","data":"2023-11-23","dataSaida":"2023-11-23","dataPrevista":"0000-00-00"[...]
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?dataAlteracaoInicial=2023-11-09&idsSituacoes%5B%5D=24&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[]}'
  recorded_at: Fri, 24 Nov 2023 18:14:04 GMT
recorded_with: VCR 6.2.0
