---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?dataAlteracaoInicial=2023-10-20&idsSituacoes%5B%5D=101065&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":18969858161,"numero":32731,"numeroLoja":"GSHN9C57S00N0AV","data":"2023-10-19","dataSaida":"2023-10-19","dataPrevista":"0000-00-00","totalProdutos":45,"total":45,"contato":{"id":16379795391,"nome":"Thauane
        Isabela","tipoPessoa":"F","numeroDocumento":"094.952.784-06"},"situacao":{"id":101065,"valor":0},"loja":{"id":204219105}},{"id":18968617806,"numero":32643,"numeroLoja":"GSHN9W44W000A0L","data":"2023-10-18","dataSaida":"2023-10-18","dataPrevista":"0000-00-00","totalProdutos":59.9,"total":59.9,"contato":{"id":16379432905,"nome":"Ana
        paula Dantas Lima","tipoPessoa":"F","numeroDocumento":"091.845.737-83"},"situacao":{"id":101065,"valor":0},"loja":{"id":204219105}},{"id":18968184769,"numero":32611,"numeroLoja":"GSHN9W06U00NHYU","data":"2023-10-18","dataSaida":"2023-10-18","dataPrevista":"0000-0[...]
[...]
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?dataAlteracaoInicial=2023-10-20&idsSituacoes%5B%5D=101065&limite=100&pagina=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[]}'
  recorded_at: Fri, 20 Oct 2023 16:04:08 GMT
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas/18969858161
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":18969858161,"numero":32731,"numeroLoja":"GSHN9C57S00N0AV","data":"2023-10-19","dataSaida":"2023-10-19","dataPrevista":"0000-00-00","totalProdutos":45,"total":45,"contato":{"id":16379795391,"nome":"Thauane
        Isabela","tipoPessoa":"F","numeroDocumento":"094.952.784-06"},"situacao":{"id":101065,"valor":0},"loja":{"id":204219105},"numeroPedidoCompra":"","outrasDespesas":0,"observacoes":"","observacoesInternas":"","desconto":{"valor":0,"unidade":"REAL"},"categoria":{"id":0},"notaFiscal":{"id":18970571740},"tributacao":{"totalICMS":0,"totalIPI":0},"itens":[{"id":16240656115,"codigo":"VEST-GOLA-DIAGONAL-Preto-PP","unidade":"UN","quantidade":1,"desconto":0,"valor":45,"aliquotaIPI":0,"descricao":"VESTIDO
        MANGA \u00daNICA COM FENDA GOLA DIAGONAL Cor:Preto;Tamanho:PP","descricaoDetalhada":"","produto":{"id":16093499863},"comissao":{"base":45,"aliquota":0,"valor":0}}],"parcelas":[{"id":16446754942,"dataVencimento":"2023-11-18","valor":45,"observacoes":"","formaPagamento":{"id":1135275}}],"transporte":{"fretePorConta":0,"frete":0,"quantidadeVolumes":0,"pesoBruto":0,"prazoEntrega":0,"contato":{"id":0,"nome":""},"etiqueta":{"nome":"Thauane
        Isabela","endereco":"Loteamento abids  Borges","numero":"12","complemento":"Loteamento
        abids  Borges","municipio":"Col\u00f4nia Leopoldina","uf":"AL","cep":"57975000","bairro":"beco
        de pombo, no beco sem saida","nomePais":""},"volumes":[]},"vendedor":{"id":0},"intermediador":{"cnpj":"","nomeUsuario":""}}}'
  recorded_at: Fri, 20 Oct 2023 16:04:09 GMT
[...]
