<footer>
  <div class="simple-footer">
    Copyright &copy; <%= Date.today.year %> - All Rights Reserved - <a href="https://www.purplestock.com.br" target="_blank" title="Open ERP">Open ERP</a>
  </div>
</footer>
