<div id="<%= dom_id production %>">
  <p>
    <strong>Quantity:</strong>
    <%= production.quantity %>
  </p>

  <p>
    <strong>Cut date:</strong>
    <%= production.cut_date %>
  </p>

  <p>
    <strong>Deliver date:</strong>
    <%= production.deliver_date %>
  </p>

</div>
