<!-- app/views/productions/_product_fields.html.erb -->
<div class="nested-fields">
  <%= f.label :name %>
  <%= f.text_field :name %>

  <!-- other product fields -->

  <%= link_to_remove_association "Remove Product", f %>
</div>
