<section class="section">
  <div class="section-header d-mobile-none">
    <h1>Shein Orders</h1>
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item"><%= link_to 'Dashboard', root_path %></div>
      <div class="breadcrumb-item"><%= link_to 'Shein Orders', shein_orders_path %></div>
      <div class="breadcrumb-item">New Shein Order</div>
    </div>
  </div>
  <div class="section-body">
    <div class="card">
      <div class="card-header">
        <h4>New Shein Order</h4>
      </div>
      <div class="card-body">
        <%= render 'form', shein_order: @shein_order %>
      </div>
    </div>
  </div>
</section>

<%= link_to icon('fas fa-arrow-left', 'Back'), shein_orders_path, class: 'btn btn-icon icon-left btn-secondary d-mobile-none' %>

<% content_for(:page_title, 'New Shein Order') %>
