<div class="container">
  <br><br><br>
  <h1>Integrações</h1>

  <div class="row justify-content-center">    
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Bling ERP</h5>
          <p class="card-text">Status: Desativado</p>
          <%= button_to "Activate", 'sss', method: :post, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>
