<main class="main-content pl-0">
  <h1>Histórico de vendas dos últimos 15 dias</h1>
  <div>
    <canvas id="chartjs-bar"></canvas>
  </div>
</main>

<script>
  (async function() {
      const data = [
          { year: 2010, count: 10 },
          { year: 2011, count: 20 },
          { year: 2012, count: 15 },
          { year: 2013, count: 25 },
          { year: 2014, count: 22 },
          { year: 2015, count: 30 },
          { year: 2016, count: 28 },
      ];

      new Chart(
          document.getElementById('chartjs-bar'),
          {
              type: 'bar',
              data: {
                  labels: data.map(row => row.year),
                  datasets: [
                      {
                          label: 'Faturaento dos últimos 15 dias',
                          data: data.map(row => row.count)
                      }
                  ]
              }
          }
      );
  })();

</script>