<main class="main-content pl-0">
  <h1>Histórico de vendas dos últimos 15 dias</h1>
  <div>
    <canvas id="chartjs-bar"></canvas>
  </div>
</main>

<section class="chart-container pl-0">
  <h1>Faturamento mensal</h1>
  <div>
    <canvas id='chartjs-bar-monthly-revenue'></canvas>
  </div>
</section>

<script>
  $(document).ready(function (){
      let options = {
          maintainAspectRatio: false,
          aspectRatio: 1,
          scales: {
              y: {
                  stacked: false,
                  grid: {
                      display: true,
                      color: "rgba(255,99,132,0.2)"
                  }
              },
              x: {
                  stacked: false,
                  grid: {
                      display: false
                  }
              }
          }
      };

      $.ajax({url: 'bling_order_item_histories/day_quantities', success: function(result){
              new Chart(
                  document.getElementById('chartjs-bar'),
                  {
                      type: 'bar',
                      options: options,
                      data: {
                          labels: result.map(row => row.day),
                          datasets: [
                              {
                                  label: 'Quantidade vendida nos últimos 15 dias',
                                  data: result.map(row => row.quantity)
                              }
                          ]
                      }
                  }
              )
      }})

      $.ajax({url: 'bling_order_item_histories/monthly_revenue', success: function(result){
              new Chart(
                  document.getElementById('chartjs-bar-monthly-revenue'),
                  {
                      type: 'bar',
                      options: options,
                      data: {
                          labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
                          datasets: result
                      }
                  }
              )
      }});
  });

</script>