.container-ultra-wide {
  max-width: 2400px; 
  margin: auto;
}

.section {
  padding: 20px 0;
}

.bordered-section {
  border: 1px solid black;
  padding: 15px; /* Add padding to provide some space between the content and the border */
  margin: 15px 0; /* Add some margin to provide spacing between sections */
}

.hidden-value {
display: none;
}

@media (min-width: 2400px) {
  .col-xl4 {
      flex: 0 0 25%;
      max-width: 25%;
  }
}