.simple-calendar {
  .day {
    height: 80px;
  }

  .production-event {
    padding: 2px 4px;
    margin-bottom: 2px;
    border-radius: 4px;
    font-size: 12px;
  }

  .confirmed {
    background-color: #a8e6cf;
  }

  .unconfirmed {
    background-color: #ffd3b6;
  }
}
