<%- model_class = Product -%>
<div class="section-header">
  <div class="page-header">
    <h1><%= t '.title', :default => t(model_class.model_name.human.pluralize.titleize) %></h1>
  </div>
</div>

<div class="section-body">

  <%= link_to t('.new', :default => t("helpers.links.new")), new_product_path, :class => 'btn btn-primary mb-3' %>

  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table id="product-ajax" class="table table-striped" data-turbo="false"></table>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <script>
      $(document).on('turbo:load').ready(function () {

          $('#product-ajax').dataTable({
              ajax: {
                  url: '/products_defer',
                  deferRender: true,
                  dataSrc: function (json) {
                      json.recordsTotal = json.meta.recordsTotal;
                      json.recordsFiltered = json.meta.recordsFiltered;
                      return json.data
                  }
              },
              serverSide: true,
              columns: [
                  {title: "Codigo Produto", data: 'attributes.custom_id'},
                  {title: "SKU", data: 'attributes.sku', "searchable": false, "orderable": false},
                  {
                      title: "Foto",
                      data: 'attributes.image_url',
                      "orderable": false,
                      "searchable": false,
                      render: function (image_url) {
                          return '<img src="' + image_url + '"width="250px" height="163px">';
                      }
                  },
                  {title: "Preço", data: 'attributes.price', "searchable": false, "orderable": false},
                  {title: "Nome", data: 'attributes.name'},
                  {
                      title: "Entrada",
                      data: 'attributes.count_purchase_product',
                      "orderable": false,
                      "searchable": false
                  },
                  {title: "Saída", data: 'attributes.count_sale_product', "orderable": false, "searchable": false},
                  {title: "Saldo", data: 'attributes.balance', "orderable": false, "searchable": false},
                  {title: "Categoria", data: 'attributes.category', "orderable": false, "searchable": false},
                  {
                      title: "Ativo", data: 'attributes.active', "searchable": false, "orderable": false,
                      render: function (active) {
                          return "<span class='badge bg-success fs-4 text-light'>" + active + "</span>";
                      }
                  },
                  {
                      title: "Ações",
                      data: 'attributes.id',
                      "searchable": false,
                      "orderable": false,
                      render: function (id) {
                          let html = '<a class="btn btn-default btn-xs" href="/products/' + id + '">Ver</a><a class="btn btn-default btn-xs" href="/products/' + id + '/edit">Editar</a><a data-confirm="Você tem certeza?" data-method="delete" rel="nofollow" class="btn btn-danger btn-xs" href="/products/' + id + '">Deletar</a>';
                          html += '<a class="btn btn-default btn-xs" href="/products/' + id + '/duplicate">Duplicar</a>';
                          html += '<a class="btn btn-default btn-xs" href="/products/' + id + '/update_active">Atualizar Ativação</a>'
                          return html;
                      }
                  }
              ],
              "language": {
                  "url": "https://cdn.datatables.net/plug-ins/1.10.12/i18n/Portuguese-Brasil.json"
              },
              columnDefs: [
                  {type: 'html-num', targets: 0}
              ],
              "order": [[0, "desc"]],
              responsive: true,
              stateSave: false
          });
      });
  </script>
<% end %>