<br><br><br>
<%- model_class = Sale -%>
<div class="page-header">
  <h1><%=t 'sales.new', :default => [:'helpers.titles.new', 'New %{model}'], :model => t(model_class.model_name.human.titleize) %></h1>
</div>
<%= render :partial => 'form' %>
