<br><br><br>
<div class="page-header">
  <h1><%=t '.title', :default => 'Plano anual'%></h1>
  <br><br>
  <h1>Promoção Early Adopter</h1>
  <h2>por apenas R$97</h2>
</div>
<script src="https://www.mercadopago.com.br/integrations/v1/web-payment-checkout.js"
data-preference-id="1835846-b172cde3-cfa1-4633-a8ed-dc29f5065ece">
</script>