<div class="mb-2">
  <% if notice %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <% if alert %>
    <div class="text-danger" role="alert">
      <%= alert %>
    </div>
  <% end %>
</div>